<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let bpo of globalBPOs" class="col">
      <div
        class="card h-100 shadow-sm p-3 bg-body rounded"
        (click)="getGlobalBPOById(bpo.id)"
      >
        <!-- <img src="assets/komola.jpg" class="card-img-top" alt="test" /> -->
        <img [src]="bpo.thumbnailImage" class="card-img-top" alt="Image for {{ bpo.thumbnailImage }}" />
       
       
       
       
       
       
        <div class="card-body">
          <div class="card-date text-muted small">
            <i class="fa-regular fa-clock"></i>
            {{ bpo.postDate | date : "mediumDate" }}
          </div>
          <div class="font-weight-bold">
            <h3 class="card-title bol">{{ bpo.title | titlecase }}</h3>
          </div>

          <p class="card-text truncate-text">{{ bpo.subtitle }}</p>
        </div>
        <div class="card-footer">
          <a
            type="submit"
            (click)="getGlobalBPOById(bpo.id)"
            class="btn btn-outline-primary w-100"
            >View</a
          >
        </div>
      </div>
    </div>
  </div>
</div>









