<!-- Row  1 of 6 -->

<div class="features-section bg">
  <div class="container">
    <h2
      class="text-center pb-4 pt-4 fs-1"
      style="color: #1b93d0; font-weight: 600"
    >
      Career Opportunity
    </h2>

    <div class="row g-5 pb-5">
      <div
        class="col-12 col-md-3 d-flex justify-content-center order-2 order-md-1"
      >
        <img
          src="assets\career-1.png"
          alt="Left Image"
          class="rounded-img img-fluid"
        />
      </div>
      <!-- text  -->
      <div class="col-12 col-md-6 text-center order-1 order-md-2">
        <div class="card p-3 shadow-sm text-center blue-bg">
          <div class="container">
            <h3 class="mt-2">Be part of a team that's always innovating</h3>
          </div>
          <div class="container">
            <div style="text-align: justify" class="mt-3">
              Join our team as a software engineer and experience a dynamic work
              environment with opportunities for growth. Be part of a passionate
              and cohesive team delivering innovative software solutions.
            </div>
          </div>

          <button
            class="btn p-3 mt-3 text-white openings"
           
            type="button"
            (click)="scrollToSection()"
          >
            Explore Job Openings
            <span style="align-items: center"
              ><mat-icon>open_in_new</mat-icon></span
            >
          </button>
        </div>
      </div>

      <div
        class="col-12 col-md-3 d-flex justify-content-center order-2 order-md-3"
      >
        <img
          src="assets\career-2.png"
          alt="Right Image"
          class="rounded-img img-fluid"
        />
      </div>
    </div>
  </div>
</div>

<!-- Row  2 of 6 -->

<div class="bg">
  <div class="container">

    <h3 class="fs-1 fw-bold text-center pt-5 pb-1" style="color: #1b93d0; ">
      Why Join Us?
    </h3>

    <p class="text-center mt-4 " style="color: #0f5396; font-weight: 600; font-size: x-large;">
      Join us to be part of a vibrant team where your ideas and contributions truly matter
    </p>

    <!-- <div class="row g-4 pb-5">
      <div class="col-12 col-md-4 text-center order-1 order-md-1">
        <img
          src="assets\photo\aaaa.jpg"
          alt="Right Image"
          class="rounded-img"
        />
      </div>

   

      <div
        class="col-12 col-md-4 justify-content-center order-2 order-md-1"
        style="padding-left: 50px"
      >
        <div class="d-flex align-items-center mt-4">
          <div class="me-3 icon-style bg-circle bg-circle-1">
            <i class="fa-solid fa-building-circle-check"></i>
          </div>
          <div class="text">
            <p>Top-tier Software Outsourcing Development Company</p>
          </div>
        </div>

        <div class="d-flex align-items-center mt-lg-5 mt-5">
          <div class="me-3 icon-style bg-circle bg-circle-2">
            <i class="fa-solid fa-clock"></i>
          </div>
          <div class="text">
            <p>Flexible Work-Hours</p>
          </div>
        </div>

        <div class="d-flex align-items-center mt-lg-5 mt-5">
          <div class="me-3 icon-style bg-circle bg-circle-3">
            <i class="fa-solid fa-ranking-star"></i>
          </div>
          <div class="text">
            <p>Revolutionary Software Culture</p>
          </div>
        </div>
      </div>



      <div
        class="col-12 col-md-4 justify-content-center order-3 order-md-3"
        style="padding-left: 50px"
      >
        <div class="d-flex align-items-center mt-4">
          <div class="me-3 icon-style bg-circle bg-circle-4">
            <i class="fa-solid fa-code-compare"></i>
          </div>
          <div class="text">
            <p>Knowledge Sharing</p>
          </div>
        </div>

        <div class="d-flex align-items-center mt-lg-5 mt-5">
          <div class="me-3 icon-style bg-circle bg-circle-5">
            <i class="fa-solid fa-gamepad"></i>
          </div>
          <div class="text">
            <p>Game Zone</p>
          </div>
        </div>

        <div class="d-flex align-items-center mt-lg-5 mt-5">
          <div class="me-3 icon-style bg-circle bg-circle-6">
            <i class="fa-solid fa-money-bill-trend-up"></i>
          </div>
          <div class="text">
            <p>Competitive Remuneration</p>
          </div>
        </div>
      </div>
    </div>


<br>
<br>
<br>
<br>


<div class="row g-4 pb-5">
  <div class="col-12 col-md-4 text-center order-1 order-md-1">
    <img
      src="assets\photo\aaaa.jpg"
      alt="Right Image"
      class="rounded-img"
    />
  </div>



  <div
    class="col-12 col-md-4 justify-content-center order-2 order-md-1"
    style="padding-left: 50px"
  >
    <div class="d-flex align-items-center mt-4">
      <div class="me-3 icon-style bg-circle bg-circle-1">
        <i class="fa-solid fa-building-circle-check"></i>
      </div>
      <div class="text">
        <p>Thrive in a collaborative atmosphere that encourages innovation and creativity</p>
      </div>
    </div>

    <div class="d-flex align-items-center mt-lg-5 mt-5">
      <div class="me-3 icon-style bg-circle bg-circle-2">
        <i class="fa-solid fa-clock"></i>
      </div>
      <div class="text">
        <p>Opportunities for professional growth and skill enhancement through training and mentorship programs</p>
      </div>
    </div>

    <div class="d-flex align-items-center mt-lg-5 mt-5">
      <div class="me-3 icon-style bg-circle bg-circle-3">
        <i class="fa-solid fa-ranking-star"></i>
      </div>
      <div class="text">
        <p>Be part of a multicultural team that values diversity and inclusion</p>
      </div>
    </div>
  </div>



  <div
    class="col-12 col-md-4 justify-content-center order-3 order-md-3"
    style="padding-left: 50px"
  >
    <div class="d-flex align-items-center mt-4">
      <div class="me-3 icon-style bg-circle bg-circle-4">
        <i class="fa-solid fa-code-compare"></i>
      </div>
      <div class="text">
        <p>Attractive salary packages and benefits that recognize your contributions</p>
      </div>
    </div>

    <div class="d-flex align-items-center mt-lg-5 mt-5">
      <div class="me-3 icon-style bg-circle bg-circle-5">
        <i class="fa-solid fa-gamepad"></i>
      </div>
      <div class="text">
        <p>Flexible work arrangements to support your personal and professional life</p>
      </div>
    </div>

    <div class="d-flex align-items-center mt-lg-5 mt-5">
      <div class="me-3 icon-style bg-circle bg-circle-6">
        <i class="fa-solid fa-money-bill-trend-up"></i>
      </div>
      <div class="text">
        <p>Engage in meaningful projects that make a difference in the industry and for our clients</p>
      </div>
    </div>



      <div class="d-flex align-items-center mt-lg-5 mt-5">
      <div class="me-3 icon-style bg-circle bg-circle-6">
        <i class="fa-solid fa-money-bill-trend-up"></i>
      </div>
      <div class="text">
        <p>Acknowledgment of individual and team achievements to motivate and inspire excellence</p>
      </div>
    </div>

  </div>
</div>

<br>
<br>
<br>
<br> -->

<div class="row g-4 pb-5">
  <div class="col-12 col-md-4 text-center order-1 order-md-1">
    <img
      src="assets\photo\aaaa.jpg"
      alt="Right Image"
      class="rounded-img"
    />
  </div>

  <!-- 1st column   -->

  <div
    class="col-12 col-md-4 justify-content-center order-2 order-md-1"
    style="padding-left: 50px"
  >
    <div class="d-flex align-items-center mt-4">
      <div class="me-3 icon-style bg-circle bg-circle-1">
        <i class="fa-solid fa-building-circle-check"></i>
      </div>
      <div class="text">
        <p>Dynamic Work Environment</p>
      </div>
    </div>

    <div class="d-flex align-items-center mt-lg-5 mt-5">
      <div class="me-3 icon-style bg-circle bg-circle-2">
        <i class="fa-solid fa-chart-line"></i>
      </div>
      <div class="text">
        <p>Career Development</p>
      </div>
    </div>

    <div class="d-flex align-items-center mt-lg-5 mt-5">
      <div class="me-3 icon-style bg-circle bg-circle-3">
        <i class="fa-solid fa-ranking-star"></i>
      </div>
      <div class="text">
        <p>Recognition and Rewards</p>
      </div>
    </div>
  </div>

  <!-- 2nd column  -->

  <div
    class="col-12 col-md-4 justify-content-center order-3 order-md-3"
    style="padding-left: 50px"
  >
    <div class="d-flex align-items-center mt-4">
      <div class="me-3 icon-style bg-circle bg-circle-4">
        <i class="fa-solid fa-code-compare"></i>
      </div>
      <div class="text">
        <p>Competitive Compensation</p>
      </div>
    </div>

    <div class="d-flex align-items-center mt-lg-5 mt-5">
      <div class="me-3 icon-style bg-circle bg-circle-5">
        <i class="fa-solid fa-bolt"></i>
      </div>
      <div class="text">
        <p>Work-Life Balance</p>
      </div>
    </div>

    <div class="d-flex align-items-center mt-lg-5 mt-5">
      <div class="me-3 icon-style bg-circle bg-circle-6">
        <i class="fa-solid fa-money-bill-trend-up"></i>
      </div>
      <div class="text">
        <p>Diverse Culture</p>
      </div>
    </div>
  </div>
</div>



  </div>
</div>

<!-- Row  3 of 6 -->
<!-- <section id="jobDetails">
  <div class="features-section py-5 ">
    <div class="container">
      <h3 class="fs-2 fw-bold text-center pt-5 pb-1 " style="color: #1B93D0">
        Open Position
      </h3>
      <div class="row g-5 pb-5">


        <div class="job-listing" *ngFor="let j of jobDetails">
          <div class="job-details">
            <div class="job-title">{{ j.jobTitle }}</div>
            <div class="job-meta">
              <span class="px-5 pb-2"><i class="fa-solid fa-hourglass-start"></i>&nbsp; <b>Deadline:</b> &nbsp; {{
                j.applicationDeadline | date:'mediumDate' }}</span>
              <span class="px-5 pb-2"><i class="fas fa-bolt"></i>&nbsp; <b>Experience:</b> &nbsp; {{
                j.experienceRequired }} years</span>
              <span class="px-5 pb-2"><i class="fa-solid fa-bangladeshi-taka-sign"></i>&nbsp; <b>Salary:</b> &nbsp; {{
                j.salary | currency:'৳ ' }}</span>
            </div>
          </div>
          <button class="apply-button" (click)="JobViewDetails(j.id)">Apply Now</button>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!--          testing ------------------ static  -->
<section id="jobDetails">
  <div class="features-section py-lg-5 p-1">
    <div class="container">
      <h3 class="fs-2 fw-bold text-center pt-5 pb-1" style="color: #1b93d0">
        Open Position
      </h3>
      <div class="row g-5 pb-5">
        <!-- -------------------------- data  ------------------------------->

        <div class="job-listing">
          <div class="job-details">
            <div class="job-title">Senior Programmer</div>

            <div class="job-meta">
              <span class="px-5 pb-2"
                ><i class="fa-solid fa-hourglass-start"></i>&nbsp;
                <b>Deadline:</b> &nbsp; Oct 18, 2024</span
              >

              <span class="px-5 pb-2"
                ><i class="fas fa-bolt"></i>&nbsp; <b>Experience:</b> &nbsp; 5
                years</span
              >
              <span class="px-5 pb-2"
                ><i class="fa-solid fa-bangladeshi-taka-sign"></i>&nbsp;
                <b>Salary:</b> &nbsp; 60,000.00
              </span>
            </div>
          </div>

          <button class="apply-button" (click)="routingViewPage()">
            Apply Now
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Row  5 of 6 -->

<div class="py-lg-3 p-0 bg">
  <div class="container">



    <h3 class="fs-1 fw-bold text-center pt-lg-5 pb-1 pt-1" style="color: #1b93d0; ">
      Why Choose Us
    </h3>

    <p class="text-center mt-3 mb-5" style="color: #0f5396; font-weight: 600; font-size: x-large;">
      Discover a partner that prioritizes your success and delivers exceptional value at every step    </p>


    <!-- <div class="row g-2 py-2">


      <div class="col-md-8 col-lg-8 py-5">
        <h3 class="fs-2 fw-bold text-center pt-5 pb-1" style="color: #1b93d0">
          Share Our Values
        </h3>
      </div>
      <div class="col-md-4 col-lg-4">
        <div
          class="justify-content-center fs-6"
          
        >
          At our company, we believe in fostering a culture built on honesty,
          respect, and collaboration. We strive to create an inclusive
          environment where everyone is valued and encouraged to bring their
          unique perspectives and ideas to the table.
        </div>
      </div>
    </div> -->


    
    <div class="row g-2 pb-2 g-lg-5 pb-lg-5">
      <div class="col-md-4 col-lg-3">
        <div class="me-3 icon-style bg-circle share-icon">
          <i class="fa-solid fa-people-group"></i>
        </div>
        <h4 class="pt-4">INDUSTRY EXPERTISE</h4>
        <p class="text">
          Extensive experience in IT/ITES and Telco sectors, allowing us to deliver tailored solutions   </p>
      </div>

      <div class="col-md-4 col-lg-3">
        <div class="me-3 icon-style bg-circle share-icon">
          <i class="fa-solid fa-user-tie"></i>
        </div>
        <h4 class="pt-4">QUALITY ASSURANCE</h4>
        <p class="text">
          Commitment to top-quality service through rigorous quality checks and continuous improvement
        </p>
      </div>

      <!-- image  -->
      <div class="col-md-4 col-lg-6">
        <div class="image-container">
          <img
            src="assets\left-up.jpg"
            alt="Left Image"
            class="half-quarter-img-left-up"
          />
          <img
            src="assets\right-up.jpg"
            alt="Left Image"
            class="half-quarter-img-right-up"
          />
        </div>
      </div>
    </div>

 
      <div class="row g-2 pb-2 g-lg-5 pb-lg-5">

      <div class="col-md-4 col-lg-3">
        <div class="me-3 icon-style bg-circle share-icon">
          <i class="fa-solid fa-bolt-lightning"></i>
        </div>
        <h4 class="pt-4">24/7 SUPPORT</h4>
        <p class="text">Round-the-clock support ensures clients receive assistance whenever needed   </p>
      </div>

      <div class="col-md-4 col-lg-3">
        <div class="me-3 icon-style bg-circle share-icon">
          <i class="fa-regular fa-lightbulb"></i>
        </div>

        <h4 class="pt-4">INNOVATIVE TECHNOLOGY</h4>

        <p class="text">
          Utilization of the latest technology and tools to enhance service delivery and efficiency  </p>
      </div>

      <div class="col-md-4 col-lg-6">
        <div class="image-container">
          <img
            src="assets\left-down.jpg"
            alt="Left Image"
            class="half-quarter-img-left-down"
          />
          <img
            src="assets\right-down.jpg"
            alt="Left Image"
            class="half-quarter-img-right-down"
          />




        </div>


        
      </div>
    </div>





    <div class="row g-2 pb-2 g-lg-5 pb-lg-5">


      <div class="col-md-3 col-lg-3">


        <div class="me-3 icon-style bg-circle share-icon">
          <i class="fa-solid fa-earth-americas"></i>
        </div>
        <h4 class="pt-4">GLOBAL REACH</h4>
        <p class="text">
          Membership in the Global BPO Alliance provides access to international resources for cost-effective solutions   </p>
      </div>

      <div class="col-md-3 col-lg-3">
        <div class="me-3 icon-style bg-circle share-icon">
          <i class="fa-solid fa-atom"></i>
        </div>
        <h4 class="pt-4">TALENT POOL</h4>
        <p class="text">
          Highly qualified professionals dedicated to delivering efficient, transparent, and exceptional service   </p>
      </div>

      <div class="col-md-3 col-lg-3">


        <div class="me-3 icon-style bg-circle share-icon">
          <i class="fa-solid fa-forward-fast"></i>
        </div>
        <h4 class="pt-4">PROVEN TRACK RECORD</h4>
        <p class="text">
          Successful completion of numerous projects, demonstrating our ability to deliver results on time and within budget   </p>
      </div>

      <div class="col-md-3 col-lg-3">
        <div class="me-3 icon-style bg-circle share-icon">
          <i class="fa-solid fa-people-arrows"></i>
        </div>
        <h4 class="pt-4">CLIENT-CENTRIC APPROACH</h4>
        <p class="text">
          Focused on building long-term relationships by understanding and meeting client expectations    </p>
      </div>



    </div>

 




    <div class="row g-2 pb-2 g-lg-5 pb-lg-5">
      <div class="text-center fs-1 pt-5 fw-bolder" style="color: #1b93d0">
        Let's Create Magic Together
      </div>
    </div>

    <div class="text-center">
      <button
        class="btn explore-button"
        type="button"
        (click)="scrollToSection()"
      >
        Explore Careers <span><i class="fa-solid fa-arrow-right"></i></span>
      </button>
    </div>
  </div>
</div>

<!-- Row  6 of 6 -->

<div class="pt-5 bg-contrast">
  <div class="container">
    <h1 class="fw-bold text-center pt-5" style="color: #1b93d0">
      Show Us Your Superpower
    </h1>

    <div
      class="text-center mb-4 fs-5 py-2 px-lg-5"
      style="line-height: 140%; color: #1b93d0"
    >
      As we continue to grow our core values stay the same and guide us through
      everything we do – from hiring to helping customers.
    </div>

    <div class="row">
      <div class="text-center">
        <div class="resume-form-wrapper">
          <form
            #applicationForm="ngForm"
            (ngSubmit)="applyForNewJob(applicationForm)"
          >
            <h3 class="text-white mb-2">Your Contact Information</h3>

            <div class="row">
              <div class="col-md-6">
                <input
                  type="text"
                  class="resume-input form-control"
                  id="name"
                  name="name"
                  placeholder="Your name"
                  required
                  [(ngModel)]="application.name"
                />
              </div>

              <div class="col-md-6">
                <input
                  type="text"
                  class="resume-input form-control"
                  id="address"
                  name="address"
                  placeholder="Address"
                  required
                  [(ngModel)]="application.address"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <input
                  type="text"
                  class="resume-input form-control"
                  id="phone"
                  name="phone"
                  placeholder="Mobile"
                  required
                  [(ngModel)]="application.phone"
                />
              </div>

              <div class="col-md-6">
                <input
                  type="email"
                  class="resume-input form-control"
                  id="email"
                  name="email"
                  placeholder="Email"
                  required
                  [(ngModel)]="application.email"
                />
              </div>
            </div>

            <h3 class="text-white mt-2">Professional Information</h3>
            <div class="row">
              <div class="col-md-6">
                <label
                  style="
                    text-align: left;
                    font-weight: bold;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular',
                      'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
                      sans-serif;
                  "
                >
                  Position
                </label>

                <input
                  type="text"
                  class="resume-input form-control"
                  placeholder="Which Position do you apply?"
                  id="position"
                  name="position"
                  required
                  [(ngModel)]="application.position"
                />
              </div>
              <div class="col-md-6">
                <label
                  style="
                    text-align: left;
                    font-weight: bold;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular',
                      'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
                      sans-serif;
                  "
                >
                  Experience
                </label>
                <input
                  type="number"
                  class="resume-input form-control"
                  placeholder="Years of experience"
                  id="yearsOfExperience"
                  name="yearsOfExperience"
                  required
                  [(ngModel)]="application.yearsOfExperience"
                />
              </div>
            </div>

            <div class="row row-cols-2">
              <div class="col-12">
                <textarea
                  rows="4"
                  class="resume-input form-control"
                  placeholder="Skills"
                  id="skills"
                  name="skills"
                  required
                  [(ngModel)]="application.skills"
                ></textarea>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-12">
                <label for="resume-cv-upload" class="form-label fs-5">
                  <i class="fas fa-paperclip"></i> Attach CV
                </label>
                <input
                  type="file"
                  class="resume-input"
                  id="resume-cv-upload"
                  required
                  (change)="onFileSelected($event)"
                  accept=".pdf"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <button type="submit" class="resume-btn-submit">
                  Apply Now
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
