






 <div class="admin-page">
    <h1 class="admin-header">
      Let's Create to Grow My Company
    </h1>
  
    <div class="container">
      <div class="row">
        <!-- News -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="action-card" onclick="location.href='/admin/newsPost'">
            <div class="icon-wrapper">
              <i class="small-icon fa fa-plus-circle"></i>
              <i class=" large-icon fa-solid fa-newspaper"></i>
              <span class="icon-label">News</span>
            </div>
          </div>
        </div>
  
        <!-- Career -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="action-card" onclick="location.href='/admin/careerPost'">
            <div class="icon-wrapper">
              <i class="small-icon fa fa-plus-circle"></i>
              <i class="large-icon fa fa-briefcase"></i>
              <span class="icon-label">Career</span>
            </div>
          </div>
        </div>
  
        <!-- Service -->
        <!-- <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="action-card" onclick="location.href='/admin/servicePost'">
            <div class="icon-wrapper">
              <i class="small-icon fa fa-plus-circle"></i>
              <i class="large-icon fa fa-cogs"></i>
              <span class="icon-label">Service</span>
            </div>
          </div>
        </div> -->
  
        <!-- Photo -->
        <div class="col-lg-4 col-md-6 col-sm-12">
          <!-- <div class="action-card" onclick="location.href='/admin/photoUploadToGallery'"> -->
            <div class="action-card" onclick="location.href='/admin/globalBpoPost'">

            <div class="icon-wrapper">
              <i class="small-icon fa fa-plus-circle"></i>
              <i class="large-icon fa fa-camera"></i>
              <span class="icon-label">Gallery</span>
            </div>
          </div>
        </div>
  
        <!-- Video -->
        <!-- <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="action-card" onclick="location.href='/admin/videoPost'">
            <div class="icon-wrapper">
              <i class="small-icon fa fa-plus-circle"></i>
              <i class="large-icon fa fa-video-camera"></i>
              <span class="icon-label">Video</span>
            </div>
          </div>
        </div> -->
  
        <!-- Team -->
        <!-- <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="action-card" onclick="location.href='/admin/teamPost'">
            <div class="icon-wrapper">
              <i class="small-icon fa fa-plus-circle"></i>
              <i class="large-icon fa fa-users"></i>
              <span class="icon-label">Team</span>
            </div>
          </div>
        </div> -->
  
        <!-- Global BPO -->
        <!-- <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="action-card" onclick="location.href='/admin/globalBpoPost'">
            <div class="icon-wrapper">
              <i class="small-icon fa fa-plus-circle"></i>
              <i class="large-icon fa fa-globe"></i>
              <span class="icon-label">GlobalBPO</span>
            </div>
          </div>


        </div> -->




      </div>
    </div>
  </div>
  