<section class="about" id="about" style="
padding-top: 20px;
">
  <div class="container">
    <div class="heading text-center">
      <h2 class="text-center pb-2 pt-2 fs-1" style="color: #1B93D0;font-weight: 600;">About
        <span>Us</span>
      </h2>
      <h4 style="font-weight: 600;margin-bottom: 20px;">Welcome to WeTech Hub – Your trusted partner for 
        <br>
        top-notch BPO services in Bangladesh.
      </h4>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <img src="assets\photo\wetechhub.png" alt="about" class="img-fluid" width="100%">
      </div>
      <div class="col-lg-6">
        <!-- <h3 style="color: #1B93D0;">Lorem ipsum dolor sit amet, consectetur </h3> -->
        <p style="text-align: justify;">WeTech Hub distinguishes itself through industry expertise, quality assurance, global reach, and personalized solutions. Backed by a management team with extensive practical experience in the IT/ITES, we excel in understanding and meeting clients' diverse needs effectively. As a proud member of the Global BPO Alliance, we leverage international resources to provide cost-effective solutions with a global footprint, empowering clients to compete on a larger scale. </p>
        <p style="text-align: justify;">Whether you need inshore or offshore support, we are here to provide seamless, high-value solutions tailored to your organization's unique needs. What truly sets us apart is our ability to provide customized solutions tailored to each client's unique requirements, whether developing a comprehensive digital marketing strategy or designing bespoke applications. </p>
        <p style="text-align: justify;">Our cutting-edge infrastructure enables us to offer 24/7 support all year round, ensuring your business runs smoothly. With a dedicated team of highly qualified professionals, we deliver integrity, transparency, and superiority in every service aspect, driving tangible results and fostering long-term partnerships with our valued clients. </p>
        <div class="row">
          <div class="col-md-6">
            <h4>
              <i class="far fa-star"></i>Industry expertise
            </h4>
          </div>
          <div class="col-md-6">
            <h4>
              <i class="far fa-star"></i>
              Quality assurance
            </h4>
          </div>
          <div class="col-md-6">
            <h4>
              <i class="far fa-star"></i>Customized support
            </h4>
          </div>
          <div class="col-md-6">
            <h4>
              <i class="far fa-star"></i>
              Digital Marketing & Branding
            </h4>
          </div>
          <div class="col-md-6">
            <h4>
              <i class="far fa-star"></i>24/7 infrastructure
            </h4>
          </div>
          <div class="col-md-6">
            <h4>
              <i class="far fa-star"></i>
              Professional team
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






