<div class="bg">
  <div class="pt-5"></div>
  <div class="container">
    <!-- row 01  -->

    <div class="row" style="justify-content: space-around">
      <div class="card p-2 col-6 block-right" routerLink="/app-design-development" routerLinkActive="active">
        <img src="assets\photo\service\application-design.jpeg" class="card-img-top" alt="application-design" />
        <h3 class="card-title mt-2 ms-3">Application Design & Development</h3>
        <div class="card-body">

          We develops static and dynamic mobile and web applications with
          unique designs and error-free development

        </div>
      </div>

      <div class="card p-2 col-5 block-left" routerLink="/back-office" routerLinkActive="active">
        <h3 class="card-title mt-2 ms-3">Back-Office Services</h3>
        <div class="card-body">
          FIFOTech streamlines operations, improves efficiency, and reduces
          costs with accurate and timely
        </div>
        <img src="assets\photo\service\back-office.jpeg" class="card-img-bottom" alt="back-office" />
      </div>
    </div>

    <!-- row 02  -->

    <div class="row pt-5 block-down" style="justify-content: space-around">
      <div class="card p-2 col-5" routerLink="/contact-center" routerLinkActive="active">
        <h3 class="card-title mt-2 ms-3">Contact Center Services</h3>
        <div class="card-body">
          Enhance customer engagement with multilingual support, tailored to
          client needs and brand value
        </div>
        <img src="assets\photo\service\contact-cernter.jpeg" class="card-img-bottom" alt="back-office" />
      </div>

      <div class="card p-2 col-6 block-left" routerLink="/digital-marketing" routerLinkActive="active">
        <img src="assets\photo\service\Digital-Marketing-1024x373.jpg" class="card-img-top" alt="application-design" />
        <h2 class="card-title mt-2 ms-3">Digital Marketing Services</h2>

        <div class="card-body">
          Boost business growth with targeted campaigns, expert execution, and
          a money-back guarantee

        </div>
      </div>
    </div>

    <!-- row 3  -->

    <div class="row pt-5 pb-5 block-right" style="justify-content: space-around">
      <div class="card p-2 col-6" routerLink="/skills-development" routerLinkActive="active">
        <img src="assets\photo\service\skills-development.jpeg" class="card-img-top" alt="application-design" />

        <h3 class="card-title mt-2 ms-3">Skills Development</h3>
        <div class="card-body">
          We offer advanced IT and technical training, recognized by
          government programs, to meet job market demands
        </div>

      </div>

      <div class="card p-2 col-5 block-left" routerLink="/creative-design" routerLinkActive="active">
        <div class="card-body">
          <h2 class="card-title">Creative Design Services</h2>

          Deliver tailored, innovative designs with post-production support,
          prioritizing client satisfaction

        </div>
        <img src="assets\photo\service\creative-services.jpeg" class="card-img-bottom" alt="back-office" />
      </div>
    </div>
  </div>
</div>